@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.conteiner{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgLocal{
    height: 500px;
    width: 500px;
    background-color: #808c8e;
}
.alinha{
  padding-top: 50px;
}

.font{
    font-size: 40px;
}

.fontBaixo{
  font-size: 25px;
}