@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.img-produtoSelecionado{
    width: 400px;
    height: 500px;
    border: 2px solid #edf0f5;
    border-radius: 5px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testF{
  display: flex;
  align-items: center;
}

.infoRetirado{
  font-size: 29px;
  font-weight: 600;
}

.textProduto2{
  margin-left: 20px;
  font-size: 26px;
}

img{
    width: 100%;
    height: 100%;
}
.conteiner{
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 100px;
  padding: 80px 0px 0px 150px;
}

.informacoes{
    text-align: left;
}

.tituloProduto{
    font-size: 35px;
}

.textProduto{
    font-size: 25px;
    font-weight: bold;
}

/* Botão ver */
.btn-ver {
    color: #19882c;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #19882c;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
  }
  
  .btn-ver:hover {
    color: white;
    cursor: pointer;
  }
  
  .btn-ver::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #19882c;
    z-index: -1;
    transition: all 1s;
  }
  
  .btn-ver:hover::before {
    width: 180%;
  }
  /* Botão ver Fim */
.aLogo{
    color: white;
}

.aLogo:hover{
    cursor: pointer;
}

.topo{
  display: flex;
  align-self: center;
  font-size: 40px;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
